USE [AdventureWorks2022]
GO
/****** Object:  UserDefinedDataType [dbo].[AccountNumber]    Script Date: 3/20/2025 10:13:39 PM ******/
CREATE TYPE [dbo].[AccountNumber] FROM [nvarchar](15) NULL
GO
